body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://static.pexels.com/photos/110322/pexels-photo-110322.jpeg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 20%;
    margin-left: 20%;
    background-attachment: fixed;
}

a {
  color: #00B7FF;
    padding: 10px;
}

h1 {
    background-color: lightblue;
    padding: 10px;
}

h2 {
    padding: 10px;
}

.input {
    margin: 10px;
}

div {
    background-color: lightblue;
}

p {
    background-color: lightgrey;
    padding: 10px;
}